* {
  padding: 0;
  margin:0;
  box-sizing: content-box;
  color: black;
  text-decoration: none;
  resize: none;
}


/* Bit of normalisation */

body {
  font: 10pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
height: 100vh;
}

main
{
  overflow-y: auto;
}
a {
  color: red;
  margin: 10px 50px;
  display: block;
  text-decoration: underline;
}


ul.discussion li img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul.discussion {
  margin: 0 auto;
box-sizing: content-box;
  width: 100%;
  display: block;
  list-style: none;
}

/* ul.discussion li.bubble */

ul.discussion li.bubble {
background-color:#E9E9EB;
  border-radius: 20px;
  box-sizing: border-box;
  clear: both;
  float: right;
  padding: 15px;
  margin-right:25px;
  position: relative;
  color:black;
  width: auto;
  margin-bottom: 20px;
  max-width: 100%;
  word-wrap: break-word;
}

ul.discussion li.bubble--alt h6 {
  color: white;
    font-size: 7.25pt !important;
}


ul.discussion li.bubble h6 {
  font-size: 7.25pt !important;
  margin-bottom: 1.5px;
  font-weight: normal;
}

ul.discussion li.bubble--alt {
background-color:#38E262;
color:white;
  float: left;
  margin-left:25px;
}

textarea
{
  width:100%;
}



button
{
height: 25px;
padding: 0 15px;
margin: 15px;
}
header {
display:grid;
grid-template-columns:auto 1fr auto;
justify-content: flex-start;
align-items: center;
padding:8px;
}

footer {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding:20px;
}
